In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
%load_ext sql

In [3]:
%sql mysql://***/Sql_Project

In [8]:
# Testing the connection and see if the select statement would work
%%sql
SELECT *
FROM State_information_statistics;

 * mysql://admin:***@lmu-dev-01.cmmcrwifariu.us-east-1.rds.amazonaws.com/Sql_Project
51 rows affected.

[(1, 'District of Columbia', 87064, 692683, 87.3, 18.27, 2.29),
 (2, 'Connecticut', 79771, 3565287, 79.9, 20.44, 2.51),
 (3, 'Massachusetts', 79721, 6949503, 77.1, 19.64, 2.51),
 (4, 'New York', 75548, 19453561, 76.2, 20.73, 2.54),
 (5, 'New Jersey', 75245, 8882190, 81.3, 21.85, 2.65),
 (6, 'California', 71480, 39512223, 77.8, 22.6, 2.94),
 (7, 'Washington', 68322, 7614893, 80.3, 21.99, 2.55),
 (8, 'Maryland', 68258, 6045680, 82.9, 22.21, 2.65),
 (9, 'New Hampshire', 66418, 1359711, 87.8, 18.79, 2.44),
 (10, 'Alaska', 64780, 731545, 76.8, 25.27, 2.79),
 (11, 'Colorado', 63522, 5758736, 88.2, 22.01, 2.52),
 (12, 'Wyoming', 63263, 578759, 79.1, 23.23, 2.42),
 (13, 'Illinois', 62977, 12671821, 83.8, 22.28, 2.54),
 (14, 'Virginia', 62362, 8535519, 81.7, 22.1, 2.6),
 (15, 'Pennsylvania', 62198, 12801989, 76.8, 20.59, 2.42),
 (16, 'Minnesota', 61540, 5639632, 85.4, 23.12, 2.48),
 (17, 'Rhode Island', 60837, 1059361, 83.7, 19.38, 2.5),
 (18, 'Hawaii', 60729, 1415872, 81.3, 21.88, 2.95),
 (19, 'North Dakota', 59388, 762062, 80.6, 23.87, 2.28),
 (20, 'Vermont', 58650, 623989, 80.1, 18.29, 2.28),
 (21, 'Nebraska', 57942, 1934408, 81.4, 24.7, 2.44),
 (22, 'South Dakota', 57273, 884659, 79.8, 24.64, 2.4),
 (23, 'Delaware', 56768, 973764, 78.3, 20.98, 2.52),
 (24, 'Oregon', 56765, 4217737, 84.1, 20.56, 2.5),
 (25, 'Kansas', 56073, 2913314, 78.1, 24.23, 2.49),
 (26, 'Wisconsin', 55487, 5822434, 82.6, 21.76, 2.38),
 (27, 'Florida', 55337, 21477737, 77.3, 19.76, 2.66),
 (28, 'Iowa', 55218, 3155070, 84.3, 23.05, 2.38),
 (29, 'Texas', 54841, 28995881, 77.7, 25.62, 2.84),
 (30, 'Maine', 54225, 1344212, 78.9, 18.53, 2.28),
 (31, 'Nevada', 53635, 3080156, 77.8, 22.57, 2.66),
 (32, 'Montana', 53329, 1068778, 81.3, 21.46, 2.38),
 (33, 'Ohio', 53296, 11689100, 78.3, 22.07, 2.4),
 (34, 'Michigan', 52987, 9986857, 79.3, 21.48, 2.46),
 (35, 'Utah', 52251, 3205958, 88.1, 29.09, 3.08),
 (36, 'Indiana', 51340, 6732219, 80.5, 23.3, 2.52),
 (37, 'Missouri', 51177, 6137428, 80.6, 22.4, 2.43),
 (38, 'Georgia', 51165, 10617423, 79.4, 23.72, 2.69),
 (39, 'Tennessee', 50547, 6833174, 76.2, 22.18, 2.51),
 (40, 'North Carolina', 50086, 10488084, 74.3, 22.14, 2.52),
 (41, 'Louisiana', 50037, 4648794, 76.3, 23.48, 2.6),
 (42, 'Oklahoma', 49249, 3956971, 83.2, 24.18, 2.57),
 (43, 'Arizona', 48950, 7278717, 82.1, 22.6, 2.67),
 (44, 'Idaho', 48616, 1787065, 83.7, 25.13, 2.68),
 (45, 'South Carolina', 47502, 5148714, 81.1, 21.75, 2.54),
 (46, 'Arkansas', 47109, 3017825, 80.9, 23.24, 2.52),
 (47, 'Alabama', 46908, 4903185, 80.1, 22.26, 2.52),
 (48, 'Kentucky', 46507, 4467673, 78.5, 22.53, 2.48),
 (49, 'New Mexico', 45803, 2096829, 78.5, 22.82, 2.59),
 (50, 'West Virginia', 45109, 1792147, 77.3, 20.07, 2.4),
 (51, 'Mississippi', 41745, 2976149, 75.9, 23.58, 2.62)]

In [ ]:
%%sql
CREATE OR REPLACE VIEW CustomerReview AS 
	SELECT 
		user_name AS Name,
		user_state AS StateCode,
		review_date AS `Date`,
		review_text AS ReviewText,
		rating	AS Rating,
		'Disney' AS StreamingService
	FROM Disney_Review
	WHERE `review_date` LIKE '%2021'
		OR `review_date` LIKE '%2020'
		OR `review_date` LIKE '%2019'
		OR `review_date` LIKE '%2018'
		OR `review_date` LIKE '%2017'
		OR `review_date` LIKE '%2016'
	UNION
	SELECT 
		user_name,
		user_state,
		review_date,
		review_text,
		rating,
		'Hulu'
	FROM Hulu_Review
	WHERE `review_date` LIKE '%2021'
		OR `review_date` LIKE '%2020'
		OR `review_date` LIKE '%2019'
		OR `review_date` LIKE '%2018'
		OR `review_date` LIKE '%2017'
		OR `review_date` LIKE '%2016'
	UNION 
	SELECT 
		user_name,
		user_state,
		review_date,
		review_text,
		rating,
		'Netflix' 
	FROM Netflix_Review
	WHERE `review_date` LIKE '%2021'
		OR `review_date` LIKE '%2020'
		OR `review_date` LIKE '%2019'
		OR `review_date` LIKE '%2018'
		OR `review_date` LIKE '%2017'
		OR `review_date` LIKE '%2016'
	ORDER BY StreamingService;

In [ ]:
# Creating a View 
# I created a view table combining all the Customer reviews from all the different streaming platforms into 1
# I also limited the reviews from the past 5 years from 2016 - present as I believed older reviews would not be as relevant.

In [90]:
%%sql
SELECT 
StreamingService,
COUNT(StreamingService) AS AmountOfReview,
AVG(Rating)
FROM CustomerReview
GROUP BY StreamingService;

 * mysql://admin:***@lmu-dev-01.cmmcrwifariu.us-east-1.rds.amazonaws.com/Sql_Project
3 rows affected.

[('Disney', 55, 3.890909090909091),
 ('Hulu', 597, 2.304857621440536),
 ('Netflix', 1312, 3.1257621951219514)]

In [ ]:
# Exploratory SQL 1
# This SQL statement provides us the amount of reviews for each Streaming Service
# with the average rating for each service for the past 5 years
# Result indicate that Disney have the highest rating average among the three streaming services
# Result also show that Disney have the least amount of customer reviews

In [13]:
%%sql
SELECT 
StreamingService,
RIGHT(Date, 4) AS YearOfReview,
COUNT(RIGHT(Date, 4 )) AS AmountOfReviews
FROM CustomerReview
GROUP BY StreamingService,
         YearOfReview
ORDER BY StreamingService ,
		YearOfReview DESC;

 * mysql://admin:***@lmu-dev-01.cmmcrwifariu.us-east-1.rds.amazonaws.com/Sql_Project
13 rows affected.

[('Disney', '2021', 6),
 ('Disney', '2020', 49),
 ('Hulu', '2021', 18),
 ('Hulu', '2020', 160),
 ('Hulu', '2019', 240),
 ('Hulu', '2018', 109),
 ('Hulu', '2017', 70),
 ('Netflix', '2021', 10),
 ('Netflix', '2020', 272),
 ('Netflix', '2019', 361),
 ('Netflix', '2018', 110),
 ('Netflix', '2017', 480),
 ('Netflix', '2016', 79)]

In [ ]:
# Exploratory SQL 2
# This SQL statement provides us the amount of reviews for each Streaming Service in each year
# The result show that Disney only has reviews from 2020 and 2021. 
# This is because Disney first launched its streaming platform in late 2019.

In [32]:
%%sql
SELECT 
	sis.State_Name,
	COUNT(*) AS StreamingServiceReviewCount,
	sis.State_population AS PopulationSize,
	sis.Internet_usage_percentage,
	sis.Population_under18_percentage,
	sis.Per_capita_personal_income AS AverageIncome
FROM CustomerReview cr
JOIN US_States us
	ON cr.StateCode = us.State_Code
JOIN State_information_statistics sis 
	ON us.State_Name = sis.State_Name
GROUP BY State_Code
ORDER BY COUNT(*) DESC;

 * mysql://admin:***@lmu-dev-01.cmmcrwifariu.us-east-1.rds.amazonaws.com/Sql_Project
51 rows affected.

[('California', 338, 39512223, 77.8, 22.6, 71480),
 ('Florida', 152, 21477737, 77.3, 19.76, 55337),
 ('New York', 138, 19453561, 76.2, 20.73, 75548),
 ('Texas', 117, 28995881, 77.7, 25.62, 54841),
 ('Oklahoma', 80, 3956971, 83.2, 24.18, 49249),
 ('Arizona', 77, 7278717, 82.1, 22.6, 48950),
 ('Pennsylvania', 68, 12801989, 76.8, 20.59, 62198),
 ('Oregon', 63, 4217737, 84.1, 20.56, 56765),
 ('Michigan', 57, 9986857, 79.3, 21.48, 52987),
 ('Georgia', 56, 10617423, 79.4, 23.72, 51165),
 ('Ohio', 53, 11689100, 78.3, 22.07, 53296),
 ('Virginia', 51, 8535519, 81.7, 22.1, 62362),
 ('Illinois', 51, 12671821, 83.8, 22.28, 62977),
 ('Washington', 50, 7614893, 80.3, 21.99, 68322),
 ('New Jersey', 47, 8882190, 81.3, 21.85, 75245),
 ('Tennessee', 45, 6833174, 76.2, 22.18, 50547),
 ('Maryland', 35, 6045680, 82.9, 22.21, 68258),
 ('Minnesota', 32, 5639632, 85.4, 23.12, 61540),
 ('Massachusetts', 31, 6949503, 77.1, 19.64, 79721),
 ('Wisconsin', 29, 5822434, 82.6, 21.76, 55487),
 ('Indiana', 29, 6732219, 80.5, 23.3, 51340),
 ('Kentucky', 27, 4467673, 78.5, 22.53, 46507),
 ('Utah', 27, 3205958, 88.1, 29.09, 52251),
 ('Missouri', 26, 6137428, 80.6, 22.4, 51177),
 ('Nevada', 25, 3080156, 77.8, 22.57, 53635),
 ('North Carolina', 24, 10488084, 74.3, 22.14, 50086),
 ('Kansas', 21, 2913314, 78.1, 24.23, 56073),
 ('Colorado', 20, 5758736, 88.2, 22.01, 63522),
 ('South Carolina', 20, 5148714, 81.1, 21.75, 47502),
 ('Alabama', 19, 4903185, 80.1, 22.26, 46908),
 ('Arkansas', 19, 3017825, 80.9, 23.24, 47109),
 ('New Mexico', 12, 2096829, 78.5, 22.82, 45803),
 ('Iowa', 11, 3155070, 84.3, 23.05, 55218),
 ('Louisiana', 11, 4648794, 76.3, 23.48, 50037),
 ('New Hampshire', 10, 1359711, 87.8, 18.79, 66418),
 ('Nebraska', 10, 1934408, 81.4, 24.7, 57942),
 ('Idaho', 10, 1787065, 83.7, 25.13, 48616),
 ('Delaware', 10, 973764, 78.3, 20.98, 56768),
 ('Maine', 10, 1344212, 78.9, 18.53, 54225),
 ('Hawaii', 8, 1415872, 81.3, 21.88, 60729),
 ('Montana', 7, 1068778, 81.3, 21.46, 53329),
 ('South Dakota', 7, 884659, 79.8, 24.64, 57273),
 ('Connecticut', 6, 3565287, 79.9, 20.44, 79771),
 ('West Virginia', 4, 1792147, 77.3, 20.07, 45109),
 ('Alaska', 3, 731545, 76.8, 25.27, 64780),
 ('Wyoming', 3, 578759, 79.1, 23.23, 63263),
 ('Vermont', 3, 623989, 80.1, 18.29, 58650),
 ('Rhode Island', 3, 1059361, 83.7, 19.38, 60837),
 ('North Dakota', 3, 762062, 80.6, 23.87, 59388),
 ('Mississippi', 3, 2976149, 75.9, 23.58, 41745),
 ('District of Columbia', 3, 692683, 87.3, 18.27, 87064)]

In [ ]:
# Exploratory SQL 3
# This SQL statement provides us the amount of reviews for all streaming service platforms in each state
# Other important information about the state such as population size, income level, Internet usage percentage,
# and uder 18 population percentage are also selected. 
# The result indicate that consumers from california provide the highest amount of streaming service reviews

In [38]:
%%sql
SELECT *
FROM CustomerReview 
WHERE StreamingService = 'Disney'
 	AND (rating = 1 OR rating = 2);

 * mysql://admin:***@lmu-dev-01.cmmcrwifariu.us-east-1.rds.amazonaws.com/Sql_Project
11 rows affected.

[('Jon', 'OH', 'March 16, 2021', "I paid for a year of service, week 2 and I still can't watch a movie without an error code interrupting our movie. Customer service is horrid at resolving such issues, and blame my 100mb per sec isp. We haven't been able to watch anything without it buffering, till it error codes out.", '1', 'Disney'),
 ('Heidi', 'MO', 'March 5, 2021', 'I purchased subscription and noticed limited movie selections. I attempted to cancel subscription online and was not able to. Received notice that co ... (51 characters truncated) ... ice and states not able to cancel due to purchase through Roku however there are no active subscriptions. Disney Plus states not able to help period.', '1', 'Disney'),
 ('Brad', 'TX', 'March 2, 2021', "As everyone is aware, Disney Plus increased their rate starting February 23rd. I subscribed on February 22nd around 6:30pm, my account wasn't billed  ... (346 characters truncated) ...  contact from Disney. Very disappointed that a company with a family reputation like Disney would purposely cheat me out of money and then ignore me.", '1', 'Disney'),
 ('Christopher', 'CA', 'Jan. 11, 2021', 'Tonight I called Disney Plus and talked to a rep named Shaquiah in North Carolina. After a frustrating 35 minutes on the phone with her she told me t ... (664 characters truncated) ... ars has always been $8.99, even though a co-worker said he had Disney Plus 4 months ago for $6.99 (and the rate is listed as $6.99 on their website).', '1', 'Disney'),
 ('Dawn', 'CA', 'Nov. 18, 2020', "My daughter rec'd a subscription for Disney Plus streaming from her Aunt on her birthday. When we tried setting it up on her smart tv, it wouldn't ta ... (219 characters truncated) ... s tech support! I thought I already had tech support, that's who I called! They advise him to tell me to run a systems speed test with IT directions.", '1', 'Disney'),
 ('Russ', 'TX', 'Nov. 9, 2020', 'I have never been able to receive surround sound with Disney Plus, even though I can with every other streaming service. After calling in month after ... (593 characters truncated) ... xperience in every way with your streaming service. Do not expect anything added to what they already have on their service. Netflix is 1000% better.', '1', 'Disney'),
 ('Roberto', 'CO', 'Oct. 21, 2020', 'Purchased 3 years of service. It was put in hold because Verizon offered a free year. Then Verizon offered it included it in their service for good. Called to request refund, approved but never got it.', '1', 'Disney'),
 ('Sharon', 'VA', 'Oct. 13, 2020', 'We have had a Disney Plus subscription for six months. When Mulan came out, we were anxious to watch it. We were on the DisneyPlus site where we paid ... (539 characters truncated) ... fund and then start over. This should be between Disney and Roku. It is not our issue. I am very disappointed that DisneyPlus refuse to correct this.', '1', 'Disney'),
 ('Deborah', 'GA', 'Sept. 15, 2020', 'Disney Plus offers a bundle with HULU and ESPN. I was double billed and the wait time is over 40 minutes on any given day. I ended up having to "chat ... (220 characters truncated) ... have an 11 month old grand-daughter. She loved watching Disney. We will just stick to Sesame Street. I wouldn\'t recommend Disney Plus to my friends.', '1', 'Disney'),
 ('James', 'PA', 'June 1, 2020', 'Things arent A to Z. Hard to find certain movies. Needs better description for some. Categories need less of a featured feel to it and more of a numerical timeline also more categories better organized.', '2', 'Disney'),
 ('Greg', 'CO', 'May 24, 2020', 'Disney did not do a good job with this launch. Our tv is 6 years old and theres nothing wrong with it but because its not new I cant get the app f ... (9 characters truncated) ... s which I find ridiculous. Even though that was 6 months ago and I was assured by staff that a version for older tvs was coming, that never happened.', '1', 'Disney')]

In [ ]:
# Exploratory SQL 4
# This sql statement provides customer reviews for Disney's Streaming service with ratings of 1 or 2 
# this allows us to read their review and feedback in order to improve Disney streaming services

In [43]:
%%sql
SELECT 
	State_Name,
	Internet_usage_percentage,
	ROW_NUMBER() OVER(
	ORDER BY Internet_usage_percentage DESC) AS Internet_usage_rank,
	Population_under18_percentage,
	ROW_NUMBER() OVER( 
		ORDER BY Population_under18_percentage DESC) AS Under18_percentage_rank,
	Per_capita_personal_income,
	ROW_NUMBER() OVER( 
		ORDER BY Per_capita_personal_income DESC) AS AverageIncomeRank,
	Avg_household_size,
	ROW_NUMBER() OVER(
		ORDER BY Avg_household_size DESC) AS HouseholdSizeRank
FROM State_information_statistics
ORDER BY Internet_usage_percentage DESC;

 * mysql://admin:***@lmu-dev-01.cmmcrwifariu.us-east-1.rds.amazonaws.com/Sql_Project
51 rows affected.

[('Colorado', 88.2, 1, 22.01, 31, 63522, 11, 2.52, 22),
 ('Utah', 88.1, 2, 29.09, 1, 52251, 35, 3.08, 1),
 ('New Hampshire', 87.8, 3, 18.79, 48, 66418, 9, 2.44, 37),
 ('District of Columbia', 87.3, 4, 18.27, 51, 87064, 1, 2.29, 48),
 ('Minnesota', 85.4, 5, 23.12, 16, 61540, 16, 2.48, 34),
 ('Iowa', 84.3, 6, 23.05, 17, 55218, 28, 2.38, 46),
 ('Oregon', 84.1, 7, 20.56, 42, 56765, 24, 2.5, 32),
 ('Illinois', 83.8, 8, 22.28, 24, 62977, 13, 2.54, 20),
 ('Rhode Island', 83.7, 9, 19.38, 47, 60837, 17, 2.5, 31),
 ('Idaho', 83.7, 10, 25.13, 4, 48616, 44, 2.68, 7),
 ('Oklahoma', 83.2, 11, 24.18, 8, 49249, 42, 2.57, 17),
 ('Maryland', 82.9, 12, 22.21, 26, 68258, 8, 2.65, 12),
 ('Wisconsin', 82.6, 13, 21.76, 35, 55487, 26, 2.38, 45),
 ('Arizona', 82.1, 14, 22.6, 19, 48950, 43, 2.67, 8),
 ('Virginia', 81.7, 15, 22.1, 29, 62362, 14, 2.6, 14),
 ('Nebraska', 81.4, 16, 24.7, 5, 57942, 21, 2.44, 38),
 ('Hawaii', 81.3, 18, 21.88, 33, 60729, 18, 2.95, 2),
 ('New Jersey', 81.3, 17, 21.85, 34, 75245, 5, 2.65, 11),
 ('Montana', 81.3, 19, 21.46, 38, 53329, 32, 2.38, 47),
 ('South Carolina', 81.1, 20, 21.75, 36, 47502, 45, 2.54, 21),
 ('Arkansas', 80.9, 21, 23.24, 14, 47109, 46, 2.52, 26),
 ('North Dakota', 80.6, 22, 23.87, 9, 59388, 19, 2.28, 49),
 ('Missouri', 80.6, 23, 22.4, 23, 51177, 37, 2.43, 39),
 ('Indiana', 80.5, 24, 23.3, 13, 51340, 36, 2.52, 24),
 ('Washington', 80.3, 25, 21.99, 32, 68322, 7, 2.55, 18),
 ('Vermont', 80.1, 26, 18.29, 50, 58650, 20, 2.28, 50),
 ('Alabama', 80.1, 27, 22.26, 25, 46908, 47, 2.52, 27),
 ('Connecticut', 79.9, 28, 20.44, 43, 79771, 2, 2.51, 28),
 ('South Dakota', 79.8, 29, 24.64, 6, 57273, 22, 2.4, 42),
 ('Georgia', 79.4, 30, 23.72, 10, 51165, 38, 2.69, 6),
 ('Michigan', 79.3, 31, 21.48, 37, 52987, 34, 2.46, 36),
 ('Wyoming', 79.1, 32, 23.23, 15, 63263, 12, 2.42, 40),
 ('Maine', 78.9, 33, 18.53, 49, 54225, 30, 2.28, 51),
 ('New Mexico', 78.5, 35, 22.82, 18, 45803, 49, 2.59, 16),
 ('Kentucky', 78.5, 34, 22.53, 22, 46507, 48, 2.48, 35),
 ('Delaware', 78.3, 36, 20.98, 39, 56768, 23, 2.52, 23),
 ('Ohio', 78.3, 37, 22.07, 30, 53296, 33, 2.4, 43),
 ('Kansas', 78.1, 38, 24.23, 7, 56073, 25, 2.49, 33),
 ('Nevada', 77.8, 40, 22.57, 21, 53635, 31, 2.66, 10),
 ('California', 77.8, 39, 22.6, 20, 71480, 6, 2.94, 3),
 ('Texas', 77.7, 41, 25.62, 2, 54841, 29, 2.84, 4),
 ('Florida', 77.3, 42, 19.76, 45, 55337, 27, 2.66, 9),
 ('West Virginia', 77.3, 43, 20.07, 44, 45109, 50, 2.4, 44),
 ('Massachusetts', 77.1, 44, 19.64, 46, 79721, 3, 2.51, 29),
 ('Pennsylvania', 76.8, 46, 20.59, 41, 62198, 15, 2.42, 41),
 ('Alaska', 76.8, 45, 25.27, 3, 64780, 10, 2.79, 5),
 ('Louisiana', 76.3, 47, 23.48, 12, 50037, 41, 2.6, 15),
 ('Tennessee', 76.2, 49, 22.18, 27, 50547, 39, 2.51, 30),
 ('New York', 76.2, 48, 20.73, 40, 75548, 4, 2.54, 19),
 ('Mississippi', 75.9, 50, 23.58, 11, 41745, 51, 2.62, 13),
 ('North Carolina', 74.3, 51, 22.14, 28, 50086, 40, 2.52, 25)]

In [ ]:
# Exploratory SQL 5
# This sql statement ranks the important information for each state 
# for example, Colorado has the highest percentage of internate usage compared to the other states.
# This means the Internet usage rank for Colorado is 1. This ranking applies to each column information.

In [9]:
%%sql

WITH Review_Count_Per_State_CTE AS(
	SELECT 
		cr.StreamingService,
		cr.StateCode,
		us.State_Name,
		COUNT(cr.StreamingService) AS AmountOfReview_Per_State,
	    DENSE_RANK() OVER(
	        PARTITION BY cr.StreamingService
	        ORDER BY COUNT(cr.StreamingService) DESC
	        ) AS StateCountRank
	FROM CustomerReview cr
	JOIN US_States us
		ON cr.StateCode = us.State_Code
	GROUP BY cr.StreamingService,
			 cr.StateCode
)
SELECT *
FROM Review_Count_Per_State_CTE
WHERE StateCountRank <= 5;

 * mysql://admin:***@lmu-dev-01.cmmcrwifariu.us-east-1.rds.amazonaws.com/Sql_Project
22 rows affected.

[('Disney', 'CA', 'California', 8, 1),
 ('Disney', 'TX', 'Texas', 8, 1),
 ('Disney', 'NY', 'New York', 5, 2),
 ('Disney', 'CO', 'Colorado', 4, 3),
 ('Disney', 'FL', 'Florida', 3, 4),
 ('Disney', 'OR', 'Oregon', 3, 4),
 ('Disney', 'GA', 'Georgia', 2, 5),
 ('Disney', 'KY', 'Kentucky', 2, 5),
 ('Disney', 'MA', 'Massachusetts', 2, 5),
 ('Disney', 'NC', 'North Carolina', 2, 5),
 ('Disney', 'VA', 'Virginia', 2, 5),
 ('Disney', 'WA', 'Washington', 2, 5),
 ('Hulu', 'CA', 'California', 80, 1),
 ('Hulu', 'FL', 'Florida', 42, 2),
 ('Hulu', 'NY', 'New York', 33, 3),
 ('Hulu', 'TX', 'Texas', 31, 4),
 ('Hulu', 'OR', 'Oregon', 26, 5),
 ('Netflix', 'CA', 'California', 250, 1),
 ('Netflix', 'FL', 'Florida', 107, 2),
 ('Netflix', 'NY', 'New York', 100, 3),
 ('Netflix', 'TX', 'Texas', 78, 4),
 ('Netflix', 'OK', 'Oklahoma', 76, 5)]

In [ ]:
# Primary Question: Rank the 5 highest amount of Customer review from each state for each Streaming service
# 
# Business justification: This information is useful for streaming services to know and provides 
# a rough idea of the amount of highest amount customers from which state location that use their service 
# This helps the companies to further target potential customers from specific
# state location as they have high potential in increasing their cutomer base in these areas. 
# 
# SQL features used: CTE, windows function, View table, Group by, JOIN

In [10]:
# Show table
%%sql
SELECT *
FROM State_information_statistics;

 * mysql://admin:***@lmu-dev-01.cmmcrwifariu.us-east-1.rds.amazonaws.com/Sql_Project
51 rows affected.

[(1, 'District of Columbia', 87064, 692683, 87.3, 18.27, 2.29),
 (2, 'Connecticut', 79771, 3565287, 79.9, 20.44, 2.51),
 (3, 'Massachusetts', 79721, 6949503, 77.1, 19.64, 2.51),
 (4, 'New York', 75548, 19453561, 76.2, 20.73, 2.54),
 (5, 'New Jersey', 75245, 8882190, 81.3, 21.85, 2.65),
 (6, 'California', 71480, 39512223, 77.8, 22.6, 2.94),
 (7, 'Washington', 68322, 7614893, 80.3, 21.99, 2.55),
 (8, 'Maryland', 68258, 6045680, 82.9, 22.21, 2.65),
 (9, 'New Hampshire', 66418, 1359711, 87.8, 18.79, 2.44),
 (10, 'Alaska', 64780, 731545, 76.8, 25.27, 2.79),
 (11, 'Colorado', 63522, 5758736, 88.2, 22.01, 2.52),
 (12, 'Wyoming', 63263, 578759, 79.1, 23.23, 2.42),
 (13, 'Illinois', 62977, 12671821, 83.8, 22.28, 2.54),
 (14, 'Virginia', 62362, 8535519, 81.7, 22.1, 2.6),
 (15, 'Pennsylvania', 62198, 12801989, 76.8, 20.59, 2.42),
 (16, 'Minnesota', 61540, 5639632, 85.4, 23.12, 2.48),
 (17, 'Rhode Island', 60837, 1059361, 83.7, 19.38, 2.5),
 (18, 'Hawaii', 60729, 1415872, 81.3, 21.88, 2.95),
 (19, 'North Dakota', 59388, 762062, 80.6, 23.87, 2.28),
 (20, 'Vermont', 58650, 623989, 80.1, 18.29, 2.28),
 (21, 'Nebraska', 57942, 1934408, 81.4, 24.7, 2.44),
 (22, 'South Dakota', 57273, 884659, 79.8, 24.64, 2.4),
 (23, 'Delaware', 56768, 973764, 78.3, 20.98, 2.52),
 (24, 'Oregon', 56765, 4217737, 84.1, 20.56, 2.5),
 (25, 'Kansas', 56073, 2913314, 78.1, 24.23, 2.49),
 (26, 'Wisconsin', 55487, 5822434, 82.6, 21.76, 2.38),
 (27, 'Florida', 55337, 21477737, 77.3, 19.76, 2.66),
 (28, 'Iowa', 55218, 3155070, 84.3, 23.05, 2.38),
 (29, 'Texas', 54841, 28995881, 77.7, 25.62, 2.84),
 (30, 'Maine', 54225, 1344212, 78.9, 18.53, 2.28),
 (31, 'Nevada', 53635, 3080156, 77.8, 22.57, 2.66),
 (32, 'Montana', 53329, 1068778, 81.3, 21.46, 2.38),
 (33, 'Ohio', 53296, 11689100, 78.3, 22.07, 2.4),
 (34, 'Michigan', 52987, 9986857, 79.3, 21.48, 2.46),
 (35, 'Utah', 52251, 3205958, 88.1, 29.09, 3.08),
 (36, 'Indiana', 51340, 6732219, 80.5, 23.3, 2.52),
 (37, 'Missouri', 51177, 6137428, 80.6, 22.4, 2.43),
 (38, 'Georgia', 51165, 10617423, 79.4, 23.72, 2.69),
 (39, 'Tennessee', 50547, 6833174, 76.2, 22.18, 2.51),
 (40, 'North Carolina', 50086, 10488084, 74.3, 22.14, 2.52),
 (41, 'Louisiana', 50037, 4648794, 76.3, 23.48, 2.6),
 (42, 'Oklahoma', 49249, 3956971, 83.2, 24.18, 2.57),
 (43, 'Arizona', 48950, 7278717, 82.1, 22.6, 2.67),
 (44, 'Idaho', 48616, 1787065, 83.7, 25.13, 2.68),
 (45, 'South Carolina', 47502, 5148714, 81.1, 21.75, 2.54),
 (46, 'Arkansas', 47109, 3017825, 80.9, 23.24, 2.52),
 (47, 'Alabama', 46908, 4903185, 80.1, 22.26, 2.52),
 (48, 'Kentucky', 46507, 4467673, 78.5, 22.53, 2.48),
 (49, 'New Mexico', 45803, 2096829, 78.5, 22.82, 2.59),
 (50, 'West Virginia', 45109, 1792147, 77.3, 20.07, 2.4),
 (51, 'Mississippi', 41745, 2976149, 75.9, 23.58, 2.62)]

In [12]:
%%sql
SELECT 
	us.State_Name,
	COUNT(cr.StreamingService) AmountOfReview,
    DENSE_RANK() OVER(
		ORDER BY COUNT(cr.StreamingService) DESC ) AS AmountOfReviewRank,
    DENSE_RANK() OVER(
		ORDER BY  sis.State_population DESC) AS PopulationSizeRank,
	DENSE_RANK() OVER(
		ORDER BY sis.Internet_usage_percentage DESC) AS InternetUsagePercentageRank,
	DENSE_RANK() OVER(
		ORDER BY sis.Per_capita_personal_income DESC) AS AvgIncomeRank,
	DENSE_RANK() OVER(
		ORDER BY sis.Population_under18_percentage DESC) AS Under18PopulationRank,
	DENSE_RANK() OVER(
		ORDER BY sis.Avg_household_size DESC) AS AvgHouseholdSizeRank
FROM CustomerReview cr
JOIN US_States us
	ON cr.StateCode = us.State_Code
JOIN State_information_statistics sis 
	ON us.State_Name = sis.State_Name
GROUP BY us.State_Name
ORDER BY AmountOfReview DESC;

 * mysql://admin:***@lmu-dev-01.cmmcrwifariu.us-east-1.rds.amazonaws.com/Sql_Project
51 rows affected.

[('California', 338, 1, 1, 32, 6, 19, 3),
 ('Florida', 152, 2, 3, 34, 27, 44, 9),
 ('New York', 138, 3, 4, 38, 4, 39, 16),
 ('Texas', 117, 4, 2, 33, 29, 2, 4),
 ('Oklahoma', 80, 5, 28, 10, 42, 8, 14),
 ('Arizona', 77, 6, 14, 13, 43, 19, 8),
 ('Pennsylvania', 68, 7, 5, 36, 15, 40, 25),
 ('Oregon', 63, 8, 27, 7, 24, 41, 19),
 ('Michigan', 57, 9, 10, 26, 34, 36, 22),
 ('Georgia', 56, 10, 8, 25, 38, 10, 6),
 ('Ohio', 53, 11, 7, 30, 33, 29, 26),
 ('Virginia', 51, 12, 12, 14, 14, 28, 12),
 ('Illinois', 51, 12, 6, 8, 13, 23, 16),
 ('Washington', 50, 13, 13, 21, 7, 31, 15),
 ('New Jersey', 47, 14, 11, 16, 5, 33, 10),
 ('Tennessee', 45, 15, 16, 38, 39, 26, 18),
 ('Maryland', 35, 16, 19, 11, 8, 25, 10),
 ('Minnesota', 32, 17, 22, 5, 16, 16, 21),
 ('Massachusetts', 31, 18, 15, 35, 3, 45, 18),
 ('Indiana', 29, 19, 17, 20, 36, 13, 17),
 ('Wisconsin', 29, 19, 20, 12, 26, 34, 27),
 ('Utah', 27, 20, 30, 2, 35, 1, 1),
 ('Kentucky', 27, 20, 26, 29, 48, 21, 21),
 ('Missouri', 26, 21, 18, 19, 37, 22, 24),
 ('Nevada', 25, 22, 32, 32, 31, 20, 9),
 ('North Carolina', 24, 23, 9, 40, 40, 27, 17),
 ('Kansas', 21, 24, 35, 31, 25, 7, 20),
 ('South Carolina', 20, 25, 23, 17, 45, 35, 16),
 ('Colorado', 20, 25, 21, 1, 11, 30, 17),
 ('Alabama', 19, 26, 24, 22, 47, 24, 17),
 ('Arkansas', 19, 26, 33, 18, 46, 14, 17),
 ('New Mexico', 12, 27, 36, 29, 49, 18, 13),
 ('Iowa', 11, 28, 31, 6, 28, 17, 27),
 ('Louisiana', 11, 28, 25, 37, 41, 12, 12),
 ('Delaware', 10, 29, 45, 30, 23, 38, 17),
 ('Idaho', 10, 29, 39, 9, 44, 4, 7),
 ('Maine', 10, 29, 42, 28, 30, 48, 29),
 ('Nebraska', 10, 29, 37, 15, 21, 5, 23),
 ('New Hampshire', 10, 29, 41, 3, 9, 47, 23),
 ('Hawaii', 8, 30, 40, 16, 18, 32, 2),
 ('South Dakota', 7, 31, 46, 24, 22, 6, 26),
 ('Montana', 7, 31, 43, 16, 32, 37, 27),
 ('Connecticut', 6, 32, 29, 23, 2, 42, 18),
 ('West Virginia', 4, 33, 38, 34, 50, 43, 26),
 ('Wyoming', 3, 34, 51, 27, 12, 15, 25),
 ('Rhode Island', 3, 34, 44, 9, 17, 46, 19),
 ('Mississippi', 3, 34, 34, 39, 51, 11, 11),
 ('District of Columbia', 3, 34, 49, 4, 1, 50, 28),
 ('North Dakota', 3, 34, 47, 19, 19, 9, 29),
 ('Alaska', 3, 34, 48, 36, 10, 3, 5),
 ('Vermont', 3, 34, 50, 22, 20, 49, 29)]

In [ ]:
# Related Question 1: Use Percent_rank and rank the information from the state_information_statistics
# table of each state. Order the result from the highest amount of customer review to the lowest. 
#
# Business justification: This information is useful as it provides the relative rank for the various state
# information. We can then compare the relative rank of the column information with the amount of customer review 
# in each state. This way, we are able to determine whether or not a specific statistic of a state, is correlated
# with te amount of Customer review. 
# 
# 
# SQL features used: windows function, View table, Group by, JOIN

In [78]:
%%sql
WITH Quartile_Rank_CTE AS (
	WITH State_Statistics_Rank_CTE AS (
		SELECT 
			us.State_Name,
			COUNT(cr.StreamingService) AS AmountOfReview,
		    PERCENT_RANK() OVER(
				ORDER BY COUNT(cr.StreamingService) ) AS AmountOfReviewRank,
		    PERCENT_RANK() OVER(
				ORDER BY  sis.State_population) AS PopulationSizeRank,
			PERCENT_RANK() OVER(
				ORDER BY sis.Internet_usage_percentage ) AS InternetUsagePercentageRank,
			PERCENT_RANK() OVER(
				ORDER BY sis.Per_capita_personal_income ) AS AvgIncomeRank,
			PERCENT_RANK() OVER(
				ORDER BY sis.Population_under18_percentage ) AS Under18PopulationRank,
			PERCENT_RANK() OVER(
				ORDER BY sis.Avg_household_size ) AS AvgHouseholdSizeRank
		FROM CustomerReview cr
		JOIN US_States us
			ON cr.StateCode = us.State_Code
		JOIN State_information_statistics sis 
			ON us.State_Name = sis.State_Name
		GROUP BY us.State_Name
		ORDER BY AmountOfReview DESC
	) 
	SELECT 
		State_Name,
		AmountOfReview,
		CASE 
			WHEN AmountOfReviewRank > 0.75 AND AmountOfReviewRank <= 1 THEN 'FirstQuartile'
			WHEN AmountOfReviewRank > 0.50 AND AmountOfReviewRank <= 0.75 THEN 'SecondQuartile'
			WHEN AmountOfReviewRank > 0.25 AND AmountOfReviewRank <= 0.50 THEN 'ThirdQuartile'
			WHEN AmountOfReviewRank >= 0 AND AmountOfReviewRank <= 0.25 THEN 'FourthQuartile'
		END AS AmountOfReviewQuartileRank,
		CASE 
			WHEN PopulationSizeRank > 0.75 AND PopulationSizeRank <= 1 THEN 'FirstQuartile'
			WHEN PopulationSizeRank > 0.50 AND PopulationSizeRank <= 0.75 THEN 'SecondQuartile'
			WHEN PopulationSizeRank > 0.25 AND PopulationSizeRank <= 0.50 THEN 'ThirdQuartile'
			WHEN PopulationSizeRank >= 0 AND PopulationSizeRank <= 0.25 THEN 'FourthQuartile'
		END AS PopulationSizeQuartileRank,
		CASE 
			WHEN InternetUsagePercentageRank > 0.75 AND InternetUsagePercentageRank <= 1 THEN 'FirstQuartile'
			WHEN InternetUsagePercentageRank > 0.50 AND InternetUsagePercentageRank <= 0.75 THEN 'SecondQuartile'
			WHEN InternetUsagePercentageRank > 0.25 AND InternetUsagePercentageRank <= 0.50 THEN 'ThirdQuartile'
			WHEN InternetUsagePercentageRank >= 0 AND InternetUsagePercentageRank <= 0.25 THEN 'FourthQuartile'
		END AS InternetUsagePercentageQuartileRank,
		CASE
			WHEN AvgIncomeRank > 0.75 AND AvgIncomeRank <= 1 THEN 'FirstQuartile'
			WHEN AvgIncomeRank > 0.50 AND AvgIncomeRank <= 0.75 THEN 'SecondQuartile'
			WHEN AvgIncomeRank > 0.25 AND AvgIncomeRank <= 0.50 THEN 'ThirdQuartile'
			WHEN AvgIncomeRank >= 0 AND AvgIncomeRank <= 0.25 THEN 'FourthQuartile'
		END AS AvgIncomeQuartileRank,
		CASE
			WHEN Under18PopulationRank > 0.75 AND Under18PopulationRank <= 1 THEN 'FirstQuartile'
			WHEN Under18PopulationRank > 0.50 AND Under18PopulationRank <= 0.75 THEN 'SecondQuartile'
			WHEN Under18PopulationRank > 0.25 AND Under18PopulationRank <= 0.50 THEN 'ThirdQuartile'
			WHEN Under18PopulationRank >= 0 AND Under18PopulationRank <= 0.25 THEN 'FourthQuartile'
		END AS Under18PopulationQuartileRank,
		CASE
			WHEN AvgHouseholdSizeRank > 0.75 AND AvgHouseholdSizeRank <= 1 THEN 'FirstQuartile'
			WHEN AvgHouseholdSizeRank > 0.50 AND AvgHouseholdSizeRank <= 0.75 THEN 'SecondQuartile'
			WHEN AvgHouseholdSizeRank > 0.25 AND AvgHouseholdSizeRank <= 0.50 THEN 'ThirdQuartile'
			WHEN AvgHouseholdSizeRank >= 0 AND AvgHouseholdSizeRank <= 0.25 THEN 'FourthQuartile'
		END AS AvgHouseholdSizeQuartileRank
	FROM State_Statistics_Rank_CTE
)
SELECT 
	State_Name,
	AmountOfReview,
	CASE
		WHEN AmountOfReviewQuartileRank = PopulationSizeQuartileRank THEN 'Correlated'
		ELSE 'Not Correlated'
	END AS Population_Correlation,
	CASE
		WHEN AmountOfReviewQuartileRank = InternetUsagePercentageQuartileRank THEN 'Correlated'
		ELSE 'Not Correlated'
	END AS InternetUsage_Correlation,
	CASE
		WHEN AmountOfReviewQuartileRank = AvgIncomeQuartileRank THEN 'Correlated'
		ELSE 'Not Correlated'
	END AS AvgIncome_Correlation,
	CASE
		WHEN AmountOfReviewQuartileRank = Under18PopulationQuartileRank THEN 'Correlated'
		ELSE 'Not Correlated'
	END AS Under18Population_Correlation,
	CASE
		WHEN AmountOfReviewQuartileRank = AvgHouseholdSizeQuartileRank THEN 'Correlated'
		ELSE 'Not Correlated'
	END AS AvgHouseholdSize_Correlation
FROM Quartile_Rank_CTE;

 * mysql://admin:***@lmu-dev-01.cmmcrwifariu.us-east-1.rds.amazonaws.com/Sql_Project
51 rows affected.

[('California', 338, 'Correlated', 'Not Correlated', 'Correlated', 'Not Correlated', 'Correlated'),
 ('Florida', 152, 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Correlated'),
 ('New York', 138, 'Correlated', 'Not Correlated', 'Correlated', 'Not Correlated', 'Not Correlated'),
 ('Texas', 117, 'Correlated', 'Not Correlated', 'Not Correlated', 'Correlated', 'Correlated'),
 ('Oklahoma', 80, 'Not Correlated', 'Correlated', 'Not Correlated', 'Correlated', 'Not Correlated'),
 ('Arizona', 77, 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Correlated'),
 ('Pennsylvania', 68, 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated'),
 ('Oregon', 63, 'Not Correlated', 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated'),
 ('Michigan', 57, 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated'),
 ('Georgia', 56, 'Correlated', 'Not Correlated', 'Not Correlated', 'Correlated', 'Correlated'),
 ('Ohio', 53, 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated'),
 ('Illinois', 51, 'Correlated', 'Correlated', 'Correlated', 'Not Correlated', 'Not Correlated'),
 ('Virginia', 51, 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated'),
 ('Washington', 50, 'Not Correlated', 'Correlated', 'Not Correlated', 'Not Correlated', 'Correlated'),
 ('New Jersey', 47, 'Not Correlated', 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated'),
 ('Tennessee', 45, 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated'),
 ('Maryland', 35, 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated'),
 ('Minnesota', 32, 'Correlated', 'Not Correlated', 'Correlated', 'Correlated', 'Not Correlated'),
 ('Massachusetts', 31, 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated'),
 ('Indiana', 29, 'Correlated', 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated'),
 ('Wisconsin', 29, 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated'),
 ('Kentucky', 27, 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Correlated', 'Not Correlated'),
 ('Utah', 27, 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated'),
 ('Missouri', 26, 'Correlated', 'Correlated', 'Not Correlated', 'Correlated', 'Not Correlated'),
 ('Nevada', 25, 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Correlated', 'Not Correlated'),
 ('North Carolina', 24, 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Correlated', 'Correlated'),
 ('Kansas', 21, 'Correlated', 'Correlated', 'Not Correlated', 'Not Correlated', 'Correlated'),
 ('South Carolina', 20, 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Correlated', 'Not Correlated'),
 ('Colorado', 20, 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Correlated', 'Correlated'),
 ('Alabama', 19, 'Not Correlated', 'Correlated', 'Not Correlated', 'Not Correlated', 'Correlated'),
 ('Arkansas', 19, 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Correlated'),
 ('New Mexico', 12, 'Correlated', 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated'),
 ('Iowa', 11, 'Correlated', 'Not Correlated', 'Correlated', 'Not Correlated', 'Not Correlated'),
 ('Louisiana', 11, 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated'),
 ('Maine', 10, 'Correlated', 'Not Correlated', 'Not Correlated', 'Correlated', 'Correlated'),
 ('Idaho', 10, 'Correlated', 'Not Correlated', 'Correlated', 'Not Correlated', 'Not Correlated'),
 ('New Hampshire', 10, 'Correlated', 'Not Correlated', 'Not Correlated', 'Correlated', 'Not Correlated'),
 ('Nebraska', 10, 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated'),
 ('Delaware', 10, 'Correlated', 'Not Correlated', 'Not Correlated', 'Correlated', 'Not Correlated'),
 ('Hawaii', 8, 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated'),
 ('South Dakota', 7, 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Correlated'),
 ('Montana', 7, 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Correlated'),
 ('Connecticut', 6, 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Correlated', 'Not Correlated'),
 ('West Virginia', 4, 'Not Correlated', 'Correlated', 'Correlated', 'Correlated', 'Correlated'),
 ('Mississippi', 3, 'Not Correlated', 'Correlated', 'Correlated', 'Not Correlated', 'Not Correlated'),
 ('Rhode Island', 3, 'Correlated', 'Not Correlated', 'Not Correlated', 'Correlated', 'Not Correlated'),
 ('Wyoming', 3, 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Correlated'),
 ('Alaska', 3, 'Correlated', 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated'),
 ('District of Columbia', 3, 'Correlated', 'Not Correlated', 'Not Correlated', 'Correlated', 'Correlated'),
 ('North Dakota', 3, 'Correlated', 'Not Correlated', 'Not Correlated', 'Not Correlated', 'Correlated'),
 ('Vermont', 3, 'Correlated', 'Not Correlated', 'Not Correlated', 'Correlated', 'Correlated')]

In [ ]:
# Related Question 2: Determine whether or not the columns and the information from state_information_statistics 
# table is correlated to the Amount of customer review in each state. Use Percent_rank to determine the 
# the quartile associated with each data. Then compare each column with the amount of customer review per state
#,if the given quartile is equal to CustomerReviewCount, then the data is correlated. 
#
#
# Business justification: This information is useful as it provides information whether or not the amount of 
# Customer review in each state is correlated to the statistics of each state. This was, the company
# will know which cities to market their service to and the factors that affect the amount of Customer review
# 
# 
# SQL features used: Subquery, windows function, View table, Group by, JOIN, CTE, View Table